@keyframes swoosh {
  0% {
    transform: scale(1) rotate(0deg);
  }

  25% {
    transform: rotate(-10deg);
  }

  50% {
    transform: scale(1.1) rotate(10deg);
  }

  75% {
    transform: rotate(-10deg);
  }

  100% {
    transform: scale(1) rotate(0deg);
  }
}

@keyframes shake {
  0% {
    transform: rotate(0deg) scale(1.2);
  }

  100% {
    transform: rotate(360deg) scale(1.2);
  }
}

@keyframes blend {
  0% {transform: rotate(0);}
  50% {transform: rotate(.2deg);}
  100% {transform: rotate(0);}
}

@keyframes hover {
  0% {transform: translateY(0);}
  50% {transform: translateY(-10px);}
  100% {transform: translateY(0);}
}

* {
  box-sizing: border-box;
  cursor: url('./arrow.svg'), auto;
  transition: all .1s ease-in-out;
}

::selection {
  background-color: #ffa000;
  color: #004ba0;
}

body {
  background-color: #004ba0;
  overflow-x: hidden;

  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

a:hover, a > *:hover {
  cursor: url('./hand.svg') 20 0, auto;
}

.🎞 {
  position: absolute;
  max-width: 100%;
}

#🏄 {
  max-width: 1300px; 
  margin: 0 auto; 
  position: relative; 
  z-index: 3; 
  padding: 20px;
}

#📹 {
  top: 180%; 
  left: 20%; 
  animation-delay: -100ms;
}

#🎧 {
  top: 290%;
  right: 30%;
  animation-delay: -400ms;
}

#📘 {
  top: 230%; 
  left: 35%; 
  animation-delay: -2400ms;
}

#💾 {
  top: 120%;
  left: 30%;
  animation-delay: -1300ms;
}

#📸 {
  top: 240%;
  right: 10%;
  animation-delay: -1750ms;
}

#👷‍ {
  top: 150%;
  right: 30%;
  animation-delay: -2700ms;
}

#🎨 {
  left: 0%;
  top: 110%;
  animation-delay: -2900ms;
}

#🎵 {
  right: 20%;
  top: 190%;
  animation-delay: -700ms;
}

#💯 {
  position: relative;
  z-index: 99; 

  margin: 40px auto 0;
  
  max-width: 400px; 
}

#name {
  position: relative;
  overflow: visible;
}

#name .yellow {
  fill: #ffa000;
}

#name .yellow,
#name .smallwhite,
#name .white {
  animation: hover 4s infinite;
}

#name .white {
  animation-delay: 500ms;
}

#name .yellow:hover {
  fill: #d32f2f;
}

#name .white,
#name .smallwhite {
  fill: #fff;
}

#name .white:hover {
  fill: #388e3c;
}

#name .smallwhite:hover {
  fill: #d32f2f;
}

#🌊 {
  z-index: 1; 
  top: 260%;
  left: -20%;
}

#guy {
  position: absolute;
  max-width: 100%;

  z-index: 2;
  top: 4%;
  right: -10%;
  
  width: 100%;
}

#guy .white {
  fill: #fff;
}

#guy .orange {
  fill: #ffa000;
}

#guy .red {
  fill: #d32f2f;
}

#guy .green {
  fill: #388e3c;
}

#blender {
  animation: blend .1s infinite;
  transform-origin: 0 66%;
}

#🔭 {
  position: absolute;
  z-index: 200;
  top: 200%;
  left: 10%;
  
  max-width: 400px;

  font-size: 1.25rem;
  line-height: 1.3;

  padding-right: 20px;
  padding-bottom: 10%;
}

#🔭 span {
  background-color: #000;
  border-radius: 4px;
}

#🔗 {
  max-width: 100px;
  right: 0;
  top: 110%;

  animation: swoosh 3s -1500ms infinite;
}

.👓 {
  max-width: 60px;
  max-height: 60px;

  animation: swoosh 3s infinite;
}

.👓:hover {
  animation: shake 1.5s ease infinite;
}

@media only screen and (max-width: 1100px) {
  #🏄 {
    height: 100%;
  }

  #🔗 {
    display: none;
  }

  #📹 {
    top: 180%; 
    left: 20%; 
  }

  #🎧 {
    top: 90%;
    right: 30%;
  }

  #📘 {
    top: 150%; 
    left: 45%; 
  }

  #💾 {
    top: 110%;
    left: 30%;
  }

  #📸 {
    top: 100%;
    left: 80%;
  }

  #👷‍ {
    top: 140%;
    right: 0%;
  }

  #guy {
    top: 70%;
  }

  #🌊 {
    top: 240%;
  }
}

@media only screen and (max-width: 800px) {
  #🌊 {
    top: 190%;
  }
}

@media only screen and (max-width: 550px) {
  #🌊 {
    display: none;
  }

  #🔭 span {
    background-color: transparent;
  }
}
